<nav class="navbar navbar-expand-sm navbar-light  py-2">
  <a class="navbar-brand mx-5 " href="#">Navbar</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' routerLink ='home'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' routerLink ='templates'>Templates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' routerLink ='team'>Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-5" routerLinkActive='active' routerLink ='contact'>Contact</a>
      </li>
      <button routerLink ='login' (click)="logOut()" class="btn btn-danger mr-2"> <span *ngIf="checklogin()">Log Out</span> <span *ngIf="!checklogin()">Log in</span> </button>
    </ul>
 <!--  fatma edit user profile appear when user login-->
 <div *ngIf="checklogin()" class="float-right d-flex align-items-center justify-content-center ml-2">
  <img
    src="assets/media/img_danielle.jpg"
    width="50px"
    class="rounded-circle img-fluid "
    alt="profileimg"
  />
  <h5>Fatma</h5>
</div>
<!-- end -->
  </div>
</nav>
