.navbar{
  z-index: 999999999999;
}
.navbar-light .navbar-nav .nav-link
{
  color: black;
  padding: 0 25px;
  font-size: 20px;
  font-weight: 400;
}
.navbar-light .navbar-nav li a:hover {
  color: #FF2978;
}
.navbar-light .navbar-brand
{
  color: #004f87;
  font-size: 30px;
  font-weight: 900;
  padding-left:30px ;
}
