<section id="loginform" class="h-100">
    <nav id="loginnav" class="py-2">
        <div class="container clearfix">
          <img src="../assets/media/gtd_logo.png" alt="logo" class="float-left" />
          <a routerLink="home" class="float-right">Home</a>
        </div>
      </nav>
      <div class="text-center d-flex  align-items-center justify-content-center">
        <div class="caption p-3 my-5 w-50">
            <div class="line-image">
                <img
                src="../assets/media/loginIcon.png"
                alt="loginimg"
                class="py-3 w-25"
              />
            </div>
         <!-- Validating template-driven form in angular -->
          <form (ngSubmit)="onSubmit()" #Login="ngForm" action="">
            <div class="form-group">
              <input
                [(ngModel)]="userlogin.name"
                type="text"
                class="form-control ng-valid required"
                id="name"
                name="name"
                #name="ngModel"
                placeholder="UserName"
                minlength="3" 
                required
              />
              <div
              *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="name.errors.required">
                Name is required.
              </div>
              <div *ngIf="name.errors.minlength">
                Name must be at least 3 characters long.
              </div>
             
            </div>
            </div>
    
            <div class="form-group">
              <input
                [(ngModel)]="userlogin.password"
                type="password"
                class="form-control ng-valid "
                id="password"
                name="password"
                placeholder="Password"
                required
              />
            </div>
            <div class="form-check ">
                <input  [(ngModel)]="userlogin.remember" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="remember">
                <label class="form-check-label" for="inlineCheckbox1">remember me</label>
              </div>
           
            <button
              type="submit"
              class="btn btn-success px-5"
              (click)="login(); Login.reset()"            
            >
              Login
            </button>
            <div class="mt-2 clearfix">
              <a routerLink="" class="float-left">forget password?</a>
              <a routerLink="" class="float-right"> don't have an account ?</a>
            </div>
          </form>
        </div>
      </div>
</section>
