<nav id="loginnav" class="py-2">
  <div class="container clearfix">
    <img src="../assets/media/gtd_logo.png" alt="logo" class="float-left" />
    <a routerLinkActive='active' routerLink ='/home' class="float-right">Home</a>
  </div>
</nav>
<section id="loginform" class="h-100">
      <div class="text-center d-flex  align-items-center justify-content-center">
        <div class="col-md-4 py-5">
        <div class="caption p-3 my-5 rounded">
            <div class="line-image">
                <img
                src="assets/media/loginIcon.png"
                alt="loginimg"
                class="py-3 w-25"
              />
            </div>
         <!-- reactive Form in  angular -->
          <form (ngSubmit)="login()" [formGroup]="signinForm" >
            <div class="form-group">
              <input
                type="text"
                class="form-control ng-valid required"
                id="email"
                formControlName="email"
                placeholder="email"
              />
              <div
              *ngIf="signinForm.controls.email.invalid && signinForm.controls.email.touched"
              class="alert alert-danger"
            >
            email not valid
            </div>
            </div>
    
            <div class="form-group">
              <input
              formControlName="password"
                type="password"
                class="form-control ng-valid "
                id="password"
                placeholder="Password"
                
              />
              <div
              *ngIf="signinForm.controls.password.invalid && signinForm.controls.password.touched"
              class="alert alert-danger"
            >
            password not valid

            </div>
            </div>
            <div class="form-check ">
                <input  class="form-check-input" type="checkbox" id="inlineCheckbox1" value="remember">
                <label class="form-check-label" for="inlineCheckbox1">remember me</label>
                <a class="float-right" routerLink="/signup"> Don't have account? ,Register</a>
              </div>
          
            <button
              type="submit"
              class="btn btn-success px-5"
             [disabled]="signinForm.invalid"          
            >
              Login
            </button>
            <div class="mt-2 clearfix">
              <a routerLink="" class="float-left">forget password?</a>
              <a routerLink="" class="float-right"> don't have an account ?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
</section>
