.contactUs
{
  background-image: url(../../assets/17.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.contact-caption{
  margin-top: 10rem;
}
.color-blue
{
  color: #004b84;
}
.brdr
{
border-bottom: 3px solid black ;
width: 70px;
padding: 5px 0 ;
margin-bottom: 25px; ;
}
