<div class="contactUs">
  <div class="container">
    <div class="row">
    <div class="col-md-5 animate__animated animate__slideInLeft animate__slow	0.5s">
      <div class="contact-caption">
      <h1 class="color-blue">Lorem ipsum dolor</h1>
      <div class="brdr"></div>
      <form>
        <input class="form-control mt-4" type="text" placeholder="Enter Your Full Name">
        <input class="form-control my-4" type="email" placeholder="Enter Your Email">
        <textarea class="form-control" cols="30" rows="6" placeholder=" Your Message"></textarea>
        <button class="btn submit_btn mt-3 animate__animated animate__slideInLeft animate__slow	1s" type="submit"> Submit</button>
      </form>
      </div>
    </div>
    <div class="col-md-5 contact-img animate__animated animate__slideInRight animate__slow	0.5s">
      <img src="../../assets/mail.png">
    </div>
    </div>
  </div>
</div>
