<div class="background">
    <div class="container  text-center pt-2">
        
       
        <h2 class="text-white ">Sign Up</h2>
        <p class="text-white">Already have a  account? <a routerLink="login" routerActive="Active">Log In</a></p>
    
        <div class="row mt-3 justify-content-center h-75">
    <div class="col-md-6 bg-white border rounded py-5 mt-4 ">
            <form >
                <input  class="form-control mb-3" placeholder="First Name">
                <input  class="form-control mb-3" placeholder="Last Name">
                <input class="form-control mb-3"  name="upass" placeholder="Password">
                <input class="form-control mb-3" placeholder="Repear Password">
                <input class="form-control mb-3" placeholder="Email">
                <button class="btn btn-outline-primary mx-3 px-5 my-5 "><i class="fab fa-facebook-f"></i> </button>
                <button class="btn btn-outline-primary mx-3 px-5  my-5"> <i class="fab fa-google"></i></button>
    
    
    
            </form>
            
        </div>
    
    
    </div></div>
  
    </div>
    
    
    
    
    