@import "../../scss/variables";
@import "../../scss/mixin";
.team {
  background-color: #DDE2FF;
  .slide {
     h3 {
      display: inline;
      //color:#000000;
      font-size: 15px;
      font-weight: 500;
    }
p{
  font-size: 15px;
   
}
  position: relative;
    .img-overlay {
    p{color:#fff;}
    h4{
      color:$themeColor;
      font-weight: 800;
    }
      background-color: rgba(75,98,119,.5);
      position: absolute;
      right: 15px;    
      left: 15px;
      top:-100%;
      bottom: 100%;   
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
   
}

.txt-overlay{
    position: absolute;
    bottom: 3%;
    left: 15%;
    right: 15%;
    text-align: center;
    width: 70%;
    height: 30%;
    background-color: white;
    padding-top: 3%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

   
    &:hover {
      .img-overlay {
        bottom: 15px;
        top: 15px;
      }
     .txt-overlay{
      bottom: -100%;
     }
    }
}

}
