
<section class="py-5 mt-5 bg-light team">
   
        <h2 class="text-center mb-5">Our Team
        </h2>
    <div class="container">
<owl-carousel-o [options]="customOptions" (dragging)="startDragging($event.dragging)" >
    <ng-template carouselSlide>
        
        <div class="slide mr-2"> 
            <div class="img-overlay">
                <div class="social-icon d-flex flex-column align-items-center justify-content-center h-75">
                    <i class="fab fa-linkedin-in "></i>
                    <i class="fab fa-facebook-f  pt-3"></i>
                    <i class="fas fa-at pt-3"></i>
                </div>
            </div>
            <img src="assets/media/img_danielle.jpg">
            <div class="text-center mt-2">
                <h3 class="">Aml</h3>
            <p>front end developer</p>
            </div>
        
    </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide mr-2">
            <div class="img-overlay">
                <div class="social-icon d-flex flex-column align-items-center justify-content-center h-75">
                    <i class="fab fa-linkedin-in "></i>
                    <i class="fab fa-facebook-f  pt-3"></i>
                    <i class="fas fa-at pt-3"></i>
                </div>
            </div>
            <img src="assets/media/img_brian.jpg">
            <div class="text-center mt-2">
                <h3 class="">Mariam</h3>
            <p>front end developer</p>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide mr-2">
            <div class="img-overlay">
                <div class="social-icon d-flex flex-column align-items-center justify-content-center h-75">
                    <i class="fab fa-linkedin-in "></i>
                    <i class="fab fa-facebook-f  pt-3"></i>
                    <i class="fas fa-at pt-3"></i>
                </div>
            </div>
            <img src="assets/media/img_lisa.jpg">
            <div class="text-center mt-2">
                <h3 class="">Mai</h3>
            <p>front end developer</p>
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide mr-2">
            <div class="img-overlay">
                <div class="social-icon d-flex flex-column align-items-center justify-content-center h-75">
                    <i class="fab fa-linkedin-in "></i>
                    <i class="fab fa-facebook-f  pt-3"></i>
                    <i class="fas fa-at pt-3"></i>
                </div>
            </div>
            <img src="assets/media/img_brian.jpg">
            <div class="text-center mt-2">
                <h3 class="">Fatma</h3>
                   <p>front end developer</p>
            </div>
        </div>
    </ng-template>
<!--     <ng-template carouselSlide>
        <div class="slide mr-2">
            <img src="https://i.picsum.photos/id/507/400/300.jpg">
            <h6>fatma</h6>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide mr-2">
            <img src="https://i.picsum.photos/id/609/400/300.jpg">
            <h6>fatma</h6>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide mr-2">
            <img src="https://i.picsum.photos/id/995/400/300.jpg">
            <h6>fatma</h6>
        </div>
    </ng-template>
    -->
</owl-carousel-o>
</div>
</section>
