<div class="home">
    <div class="container my-4 py-4">
      <div class="row">
        <div class="col-md-5 home-caption animate__animated animate__slideInLeft animate__slow	0.5s d-flex  justify-content-center align-items-center">
          <div>
            <h1 class="font-blue">Lorem ipsum dolor</h1>
            <h2>Lorem ipsum.</h2>
            <p class="lead  py-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam quod voluptas ipsa odit officiis adipisci iusto necessitatibus quis ullam delectus, commodi, aliquid consequatur vero aspernatur earum, error quasi incidunt omnis?.</p>
            <button class="btn more_btn animate__animated animate__slideInLeft animate__slow	1s mt-2"> let's start</button>
         </div>
      </div>
      <div class="col-md-6 pt-5 home-img animate__animated animate__slideInRight animate__slow	0.5s">
        <img src="../../assets/slider-m-1.png" >
      </div>
      </div>
    </div>
</div>
