<section id='userprofile'>
  <mat-sidenav-container class="example-container">
    <mat-sidenav
      #sidenav
      mode="side"
      [(opened)]="opened"
      (opened)="events.push('open!')"
      (closed)="events.push('close!')"
    >
      <div class="slid text-white text-center my-5 mb-4">
        <div class="pt-5 justify-content-center align-items-center">
          <img
            src="assets/media/img_danielle.jpg"
            alt="userprofile"
            width="50"
            height="50"
            class="rounded-circle img-fluid mt-5"
          />
          <h5 class="text-center">danielle</h5>
        </div>

        <ul class="fa-ul text-left ml-2">
          <li>
            <a [routerLink]="['/usertemplets', 1]">
              <span><i class="fas fa-columns mr-2 pt-5"></i></span>Dashboard
            </a>
          </li>
          <li>
            <a [routerLink]="['/userprofile', 1]">
              <span><i class="fas fa-bars mr-2 pt-4"></i></span> Profile
              Settings
            </a>
          </li>
        </ul>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
 
        <p  class="open-nav"><a mat-button (click)="sidenav.toggle()"  [(ngModel)]="opened"><i  class="fas fa-bars fa-2x"></i> </a></p>
   

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="general ml-5 mt-2 my-5">
              <h4 class="">Profile Information</h4>
              <hr />
              <form
                class="pt-3"
                (ngSubmit)="changepass()"
                [formGroup]="changePasswordForm"
              >
                <div class="form-group">
                  <label for="exampleInputName"> Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputName"
                    formControlName="name"
                  />
                </div>
                <div
                  *ngIf="
                    changePasswordForm.controls.name.invalid &&
                    changePasswordForm.controls.name.touched
                  "
                  class="alert alert-danger"
                >
                  name not valid it should be min 3 char
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Email </label>
                  <input
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    formControlName="email"
                  />
                </div>
                <div
                  *ngIf="
                    changePasswordForm.controls.email.invalid &&
                    changePasswordForm.controls.email.touched
                  "
                  class="alert alert-danger"
                >
                  email not valid
                </div>

                <h5>Profile Picture</h5>
                <img
                  src="assets/media/img_danielle.jpg"
                  alt="profilepic"
                  class="img-fluid"
                />

                <hr />
                <button
                  class="btn btn-outline-info px-5 float-right"
                  [disabled]="changePasswordForm.invalid"
                  (click)="updateProfile()"
                >
                  Update
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="my-5 ml-5 mt-2">
              <h4 class="">Change Password</h4>
              <hr />
              <form
                class="pt-3"
                (ngSubmit)="changepass()"
                [formGroup]="changePasswordForm"
              >
                <div class="form-group">
                  <label for="exampleInputPassword1">Current Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword"
                    formControlName="currentpassword"
                  />
                </div>
                <div
                  *ngIf="
                    changePasswordForm.controls.currentpassword.invalid &&
                    changePasswordForm.controls.currentpassword.touched
                  "
                  class="alert alert-danger"
                >
                  password not valid
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">New Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    formControlName="newPassword"
                  />
                </div>
                <div
                  *ngIf="
                    changePasswordForm.controls.newPassword.invalid &&
                    changePasswordForm.controls.newPassword.touched
                  "
                  class="alert alert-danger"
                >
                  password not valid
                </div>
                <div class="form-group pb-2">
                  <label for="exampleInputPassword1"
                    >Confirm New Password
                  </label>
                  <input
                    type="password"
                    class="form-control pb-2"
                    id="exampleInputPassword2"
                    formControlName="confirmpassword"
                  />
                </div>
                <div
                  *ngIf="
                    changePasswordForm.controls.confirmpassword.invalid &&
                    changePasswordForm.controls.confirmpassword.touched
                  "
                  class="alert alert-danger"
                >
                  confirmpassword not valid
                </div>
                <hr />

                <button
                  class="btn btn-outline-info px-5 float-right"
                  [disabled]="changePasswordForm.invalid"
                  (click)="updateProfile()"
                >
                  Change Password
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
